* {
    box-sizing: border-box;
}


body{
    padding:0px;
    margin:0px;
    height:100%;
    font-family: sans-serif;
     display: flex;
    flex-direction: column; 
}

header{
    width: 100%;
    background-color: rgb(0,0,90);
}

@font-face {
    font-family: 'good_time_grot'; /*a name to be used later*/
    src: url('fonts/good_time_grot.otf'); /*URL to font*/
}

#title{
    display: flex;
    color: white;
    font-size: 1.6em;
    font-family: good_time_grot;
}
header h1{
    display: block;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 6px;
    
}

#logo{
    height: 1.6em;
    margin-left: 15px;
    margin-top: 22px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    background-color: rgb(0,0,90); 
    text-align: center;
}

li.menu {
    float: left;
}

li.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;

}

li.menu a:hover {
    background-color: rgb(100,100,120);
}


li.search{
    float: right;
    padding: 12px 0;
}

img.expand{
   height: 1.5em;
}



input[type=text] {
    width: 170px;
    margin-right: 20px;
    border: none;
    box-sizing: border-box;
    font-size: 12px;
    background-color: rgb(220, 230, 255);
    background-image: url('images/search-icon.png');
    background-position: 0;
    background-size: 30px 30px; 
    background-repeat: no-repeat;
    padding: 10px 22px 10px 38px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
    background-image: none;
    padding-left: 10px;
}


main{
    background-color: #e7e7ff;
    width: 100%;
    overflow-x: auto;
    min-height: 550px;

}

#movies_list{
    padding: 20px;
}

table{
   border-collapse: collapse;
   width: 90%;
   margin: auto;
}

tr, td, th{
    padding: 15px 20px; 
}

tr{
     border: 1px solid rgba(0,0,150,0.2);
}

th.asc::after{
    content: " ▼";
    font-size: 0.8em;
}

th.desc::after{
    content: " ▲";
    font-size: 0.8em;
}



tbody tr td:nth-last-child(2){
    text-align: right;
    padding-right: 30px;
}

tr:hover{
     background-color: rgb(200,200,255);
}


th{
    background-color: rgb(50,50,130);
    color: white;
    font-weight: bold;
}

th:hover{
    cursor: pointer;
    color: lightblue;
}

td{
    text-align: center;
}


footer{
    background-color: rgb(0,0,90);
    height: 70px;
    color: rgb(200, 200, 200);
    font-size: 10px;  
    width: 100%;
}

footer div{
     text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
}

tr.active{
    background-color: rgb(200,200,255);
    border-bottom: none;
}
tr.active + tr{
    border-top: 1px solid rgb(170,170,220);
}

tr.selected, tr.selected:hover{
    background-color: rgb(70,70,110);
    color: rgb(200,200,255);
    border: 1px solid rgb(170,170,220);
}



td.expanded {
    border: none;
    background-color: rgb(200,200,255);
    padding: 25px;
    line-height: 1.4em;
 
}

#stats{
    display: none;
    position: fixed;
    bottom: 5px;
    right: 3px;
    padding: 15px 25px;
    background-color: rgba(40,40,80,0.9);
    box-shadow: -5px 0px 15px black;
    color: lightgray;
    font-size: 0.8em;
    line-height: 1.5em;
}

.statVal{
    color: yellow;
    
}

td.found{
    background-color: rgba(200,200,0,0.3);
}

tr.notFound{
    display: none;
}


@media screen and (max-width: 800px) {
    #title {
        display: block;
        color: white;
        font-size: 1.1em;
        text-align: center;
    }

    #logo{
        display: none;
    }

    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    li.menu{
        display: inline-block;
        flex-grow: 1;
    }

    li.menu a {
        padding: 10px 0;
        width: 100%;
    }

    li.search{
        display: block;
        float: left;
        padding: 20px;
        width: 100%;
    }

    form{
          width: 100%;
    }
    input[type=text] {
        width: 85%;
    }

    input[type=text]:focus {
        width: 85%;
    }

    th, td {
        font-size: 70%;
    }

    tr, td, th{
        padding: 10px 14px; 
    }

    table{
        width: 70%;
    }  


}
